<!DOCTYPE html>
<html>
    <head>
        <title>Contact Created!</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Contact Created!</h1>
            <h2>{{ contact.getLastName }}, {{ contact.getFirstName }}</h2>
            <ul>
                <li><strong>City:</strong> {{ contact.getCity }}</li>
                <li><strong>State:</strong> {{ contact.getState }}</li>
                <li><strong>Zip/Postal Code:</strong> {{ contact.getZip }}</li>
                <li><strong>Phone:</strong> {{ contact.getPhone }}</li></li>
            </ul>
            <a href="/">Home / View All Saved Contacts</a>
        </div>
    </body>
</html>
