<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Contact Created!</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Contact Created!</h1>
            <h3>{{ new_contact.getLastName }}, {{ new_contact.getFirstName }}</h3>
            <ul>
                <li><strong>Street:</strong> {{ new_contact.getStreet }}</li>
                <li><strong>City:</strong> {{ new_contact.getCity }}</li>
                <li><strong>State:</strong> {{ new_contact.getState }}</li>
                <li><strong>Zip/Postal Code:</strong> {{ new_contact.getZip }}</li>
                <li><strong>Phone:</strong> {{ new_contact.getPhone }}</li></li>
            </ul>
            <a href="/">Home / View All Saved Contacts</a>
        </div>
    </body>
</html>
